<html>
    <link type="text/css" id="dark-mode" rel="stylesheet" href=""><style type="text/css" id="dark-mode-custom-style"></style>
    <head>
        
        
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Employee Login</title>
    <link rel = "icon" href ="/images/logo.png" type = "image/x-icon">

    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <link href="/css/styles.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="/css/sidebar.css">

    <script src="https://kit.fontawesome.com/42e954c897.js" crossorigin="anonymous"></script>
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>
        <img src="/images/logo_t.png" alt="red" style="max-width: 33%; top: 0px; margin-right:auto;  margin-left: auto; display: block;
    position: relative;
    
        
        min-width:30%;z-index: 1;"
        >
        <img src="/images/blue.png" alt="blue" style="position: fixed;
        bottom: 0px;
        left: 0px;
        
        z-index: -1;
        padding: 0px;
        margin: 0px;"> 
    <img src="/images/red_car.png" alt="red" style="position: fixed;
    top: 0px;
    right: 0px;
    max-width: 90%;
    max-height: 90%;
    z-index: -1;
    padding: 0px;
    margin: 0px;"> 
        
	<div id="page" class="page">

    
    <div class="two-grids">
        <div class="mid-class">
            
            <div class="txt-left-side editContent" style="border-radius: 40px ;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255); font-family: &quot;Open Sans&quot;, sans-serif;">
                <h2 class="editContent"> Login </h2>
                <form action="/empLogin" method="POST">
                    <div class="form-left-to editContent">
                        <span class="fa fa-user-o" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                        <input type="email" name="email" placeholder="Email ID" required="">

                        <div class="clear"></div>
                    </div>
                    <div class="form-left-to editContent">
                      <span class="fa fa-lock" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                      <input type="password" name="password" placeholder="Password" required="">

                      <div class="clear"></div>
                  </div>
                    
                   
                    <div class="btnn">
                        <button type="submit" class=" btn" style="outline: none; cursor: inherit;">Login</button>
                    </div>
                </form>
                
                
            </div>
        </div>
    
        <footer class="example-class">
			<p>
				 Copyright &copy;
				<a href="http://www.vpurify.in" target="_blank">V-Purify</a>
				2020
			</p>
		</footer>
	  </div></div>



















            