<h1><%= service %> </h1>
<h1><%= slot %> </h1>



<form method="POST">
    <input type="email" name="yourEmail" placeholder="Please enter your email">
    <input value="<%= service %>" name="details">
    <input type="text" name="userName" placeholder="Please enter your name">
    <input type="text" name="phone" placeholder="Please enter your number">
    
    <button type="submit" value="submit">Book</button>
</form>