


<form action="/charge" method="POST">
    <script
       src="https://checkout.stripe.com/checkout.js"
       class="stripe-button"
       data-key="pk_test_Ph9ES1qhoLRtdcCG1DW7vWi100OtWOW5dR"
       data-amount=${{amt}} 
       data-name="coin"
       data-description="booking your selected slot"
       data-locale="auto"
       data-currency="inr"
    >
    
        
    </script>

    <input type="text" id="amt" name="chargeAmount">

</form>