<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Payment Failed</title>
	<link rel = "icon" href ="/images/logo.png" type = "image/x-icon">

	<link rel="stylesheet" href="/css/style-starter.css">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/sidebar.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap" rel="stylesheet">
  </head>
  <body id="home">
	<!-- SideBar -->
        
		 
		<!-- 2 Background Images -->
		<img src="\images\logo_t.png" alt="red" 
		style="max-width: 33%; top: 0px; 
		margin-right:auto;  margin-left: auto; 
		display: block;position: relative;
		min-width:30%;z-index: 1;">
	<img src="\images\blue.png" alt="blue" 
		style="position: fixed; bottom: 0px;
    	left: 0px;z-index: -1;
        padding: 0px;margin: 0px;">
	<img src="\images\red_car.png" alt="red" 
		style="position: fixed;top: 0px;
    	right: 0px;max-width: 90%;
    	max-height: 90%;z-index: -1;
    	padding: 0px;margin: 0px;">
		<!--Page Body --> 
		<section class="w3l-contact-info-main">
			<div class="contact-sec">
				<div class="container">					
					<div class=" contact-map">
							<img
								src="/images/payment_unsuccess.png"
								class="map"style ="align-items:center;border-radius:5rem;"></iframe>
					</div>
					<br>
					<div class="form-group-2">
						<a href="/addCoins/<%= user._id %>">
						<button type="submit" class="btn action-button mt-3">Try Again</button>
						</a>
					</div>
					
				</div>
			</div>
			</div>
		</section>
		<footer class="example-class">
			<p>
				 Copyright &copy;
				<a href="http://www.vpurify.in" target="_blank">V-Purify</a>
				2020
			</p>
		</footer>

</body>

</html>