<html>
    <link type="text/css" id="dark-mode" rel="stylesheet" href=""><style type="text/css" id="dark-mode-custom-style"></style>
    <head>
        
        
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title Here</title>

    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <link href="/css/styles.css" rel="stylesheet" type="text/css" media="all">

    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
    </head>

    <body><img src="/images/logo_t.png" alt="red" style="max-width: 33%; top: 0px; margin-right:auto;  margin-left: auto; display: block;
    position: relative;
    
        
        min-width:30%;z-index: 1;"
        >
        <img src="/images/blue.png" alt="blue" style="position: fixed;
        bottom: 0px;
        left: 0px;
        
        z-index: -1;
        padding: 0px;
        margin: 0px;"> 
    <img src="/images/red_car.png" alt="red" style="position: fixed;
    top: 0px;
    right: 0px;
    max-width: 90%;
    max-height: 90%;
    z-index: -1;
    padding: 0px;
    margin: 0px;"> 
        
	<div id="page" class="page">

    
    <div class="two-grids">
        <div class="mid-class">
            
            <div class="txt-left-side editContent" style="border-radius: 40px ;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255); font-family: &quot;Open Sans&quot;, sans-serif;">
                <h2 class="editContent"> Sign Up Here </h2>
                <form action="/reg" enctype="multipart/form-data" method="POST">
                    <div class="form-left-to editContent">
                        <span class="fa fa-user-o" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                        <input type="email" name="username" placeholder="Email" required="">

                        <div class="clear"></div>
                    </div>
                    <div class="form-left-to editContent">
                        <span class="fa fa-phone" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                        <input type="text" name="name" placeholder="Name" required="">

                        <div class="clear"></div>
                    </div>
                    <div class="form-left-to editContent">
                        <span class="fa fa-envelope-o" aria-hidden="true"></span>
                        <input type="text" name="phone" placeholder="Contact Number" required="">

                        <div class="clear"></div>
                    </div>
                    <div class="form-left-to editContent">

                        <span class="fa fa-lock" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                        <input type="password" name="password" placeholder="Password" required="">
                        <div class="clear"></div>
                    </div>
                    <div class="form-left-to editContent">

                      <span class="fa fa-lock" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                      <input type="text" name="firm" placeholder="Firm Name" required="">
                      <div class="clear"></div>
                  </div> 
                  <div class="form-left-to editContent">

                    <span class="fa fa-lock" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                    <input type="text" name="address" placeholder="Address" required="">
                    <div class="clear"></div>
                </div>
                   
                    <div class="form-left-to editContent">

                      <span class="fa fa-lock" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                      <input type="text" name="number" placeholder="Vehicle Number" required="">
                      <div class="clear"></div>
                  </div>
                  <div class="form-left-to editContent">

                    <span class="fa fa-lock" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                    <input type="text" name="gst" placeholder="Gst Number" required="">
                    <div class="clear"></div>
                </div>
                <div class="form-left-to editContent">

                  <span class="fa fa-lock" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                  <input type="text" name="city" placeholder="City" required="">
                  <div class="clear"></div>
              </div> 
              <div class="form-left-to editContent">

                <span class="fa fa-lock" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                <input type="text" name="pin" placeholder="Tunnel Area Pin Code" required="">
                <div class="clear"></div>
            </div>
            <div class="form-left-to editContent">

              <span class="fa fa-lock" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
              <input type="text" name="state" placeholder="State" required="">
              <div class="clear"></div>
          </div>
          
                    
                    
                
                
                <div class="clear"></div>
            </div>
            <div class="txt-left-side editContent" style="border-radius: 40px ;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255); font-family: &quot;Open Sans&quot;, sans-serif;">
                <h2 class="editContent">Following documents required</h2>
                <h4><b>Please submit as images or document files</b></h4>
                <h2 class="editContent">Your Photo</h2>
                <h2 class="editContent">Pan Card</h2>
                <h2 class="editContent">Aadhar Card</h2>
                <h2 class="editContent">GST Certificate</h2>
                <h2 class="editContent">Cheque/Passbook</h2>
                <h2 class="editContent">Agreement</h2>
                <div class="form-left-to editContent">
                    <span style="margin-right: 10%;"  aria-hidden="true" style="outline: none; cursor: inherit;">Photo</span>
                    
                    <input type="file" name="files" placeholder="Photo" required="" multiple>

                    <div class="clear"></div>
                </div>
                <div class="btnn">
                    <button type="submit" class=" btn" style="outline: none; cursor: inherit;">Sign Up </button>
                </div>
            </form>
            <div class="more-buttn">
                <h3 class=" editContent" style="outline: none; cursor: inherit;"> Have a verified station account?
                    <a href="/serviceLogin" class=" editContent" style="outline: none; cursor: inherit;">Login Here
                    </a>
                </h3>
            </div>
        </div>
        </div>
    
    <footer class="example-class">
        <p>
            Sample Reg Form for 
            <a href="http://www.vpurify.in" target="_blank">V-Purify</a>
        </p>
    </footer>
	  </div></div>



